.bodyCompBlock, .bodyCompBlockSmallScreen {
    justify-content: center;
    border: 1px solid #17a569;
    border-radius: 15px;
    padding: 1%;
    margin: 1%;
    background-color: #ffffff;
}

.bodyCompBlock {
    display: inline-flex;
}

.bodyCompBlockSmallScreen {
    display: flex;
    flex-direction: column;
}


.title {
    color: #17a569;
}

