.bodyCompBlock {
    display: inline-flex;
    /* width: 60vw; */
    justify-content: center;
    border: 1px solid #17a569;
    border-radius: 15px;
    padding: 1%;
    margin: 1%;
    background-color: #ffffff;
}

.title {
    color: #17a569;
}

