.image {
    display: flex;
    justify-content: center;
    align-items: center;
}


#picture, #pictureSmallScreen {
    height: 50vh;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#pictureSmallScreen {
    width: 75%;
}
