.data {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.section{
    color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: black;
}