.row, .rowSmallScreen {
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: white;
    border-radius: 15px;
    border: #17a569 1px solid;
}

.row {
    justify-content: left;
}

.rowSmallScreen {
    justify-content: space-evenly;
}

.bannerLogo {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
}

.logo {
    height: 100%;
}
