@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  background-color: whitesmoke;
}

#base {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

/* .contactButtonExterior {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2px
} */

.contactButtonInterior {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61a96e;
  /* height: 50%; */
  width: 100px;
  padding: 5px 10px;
  color: white;
  border: 2px solid black
}

.intro {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0%;
  width: 75%;
}

.introImg {
  display: flex;
  justify-content: center;
  /* background-image: url(../razvan-chisu-Ua-agENjmI4-unsplash.jpg); */
}

.introHeader {
  color: white;
}

#introImg {
  width: 100vw;
}

.introLogo {
  width: 10%;
}

/* USED FOR BODYCOMPONENTS */
.original, .services, .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1%;
}


